/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root{
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #f8f8f8;
    --gray-color-100: #B9B9B9;
    --grey-color-200: #f0f0f0;
    --grey-color-400: #d8d8d8;
    --lightblue: #CDE1EB;
    --deepblue: #2a8aeb;
}

/* CSS Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: -0.35rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}


/* img{
    max-width: 100%;
    display: block;
} */

/* Dashboard Container */
.dashboard-container{
    width: 100%;
    height: auto;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
}

/* Header */
.header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}


.logo-wrapper{
    width: fit-content;
    height: auto;
    display: flex;
    align-items: center;
    column-gap: 1.35rem;
}

.logo-container{
    width: fit-content;
    height: auto;
    display: flex;
}

.menu-icon{
    cursor: pointer;
}

.search-wrapper{
    width: fit-content;
    height: auto;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.form-container{
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

#search{
    width: 30rem;
    padding: .75rem 1.25rem;
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
    outline: none;
    border: 1px solid var(--grey-color-400);
    transition: border .4s ease-in;
}

#search:focus{
    border: 1px solid var(--black-color);
}

.search-icon{
    width: fit-content;
    padding: .63rem 1.25rem;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    border: 1px solid var(--grey-color-400);
    border-left: none;
    background-color: var(--grey-color-200);
}

.search-icon i {
    color: var(--black-color);
    cursor: pointer;
}

.mic-icon{
    width: 2.55rem;
    height: 2.55rem;
    background-color: var(--grey-color-200);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.header-right-item{
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 1.5rem;
}

.video-container,
.notification-container{
    width: fit-content;
}

.video-container i{
    font-size: 1.5rem;
}
.notification-container i{
    font-size: 1.35rem;
}

.profile{
    width: 2.55rem;
    height: 2.55rem;
    background-color: var(--grey-color-200);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* Content */
.content{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: start;
    overflow: hidden;
}

/* Sidebar-container */
.sidebar-container{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-inline-start: .35rem;
    /* overflow-y: auto; */
}

.sidebar{
    width: 100%;
    height: auto;
    padding: 0 .75rem;
    display: flex;
    flex-direction: column;
    row-gap: .15rem;
    justify-content: start;
}

.sidebar:nth-child(1),
.sidebar:nth-child(2),
.sidebar:nth-child(3){
    border-bottom: 1px solid var(--grey-color-400);
}

.menu-item-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: .75rem;
    column-gap: 1.5rem;
    cursor: pointer;
}

.item-icon{
    width: fit-content;
    height: auto;
}

.item{
    width: fit-content;
    height: auto;
}

.item p{
    text-transform: capitalize;
    color: var(--black-color);
}


.active-item{
    background-color: var(--grey-color-200);
    border-radius: .75rem;
}

.img-container,
.item-icon i{
    height: 1.2rem;
    width: 1.2rem;
}

.img-container img{
    height: auto;
    width: 100%;
}

.img-container .bx-list-plus{
    display: flex;
    align-self: center;
    font-size: 1.5rem;
}

.item-icon .box-list{
    font-size: 1.5rem;
}


.content-header{
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: .75rem;
    padding: 1rem;
}

.explore-title{
    font-weight: 500;
}

/* playlist Container */
.playlist-container{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    row-gap: 3rem;
    padding-inline: 1.5rem;
    overflow-y: auto;
}

.filter-wrapper{
    width: 100%;
    height: auto;
    position: relative;
}

.button-containers{
    width: 100%;
    display: flex;
    column-gap: .75rem;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
}

.btn{
    border: none;
    outline: none;
    padding: .45rem .65rem;
    border-radius: .35rem;
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
}

.btn-active{
    background-color: var(--black-color);
    color: var(--white-color);
}

.fade-effect {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100px;
    background: linear-gradient(to right, transparent, white 50%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 8px;
}

.arrow-btn{
    border: none;
    outline: none;
    background-color: var(--white-color);
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.top-playlist{
    width: 100%;
    height: auto;
}

.playlist-cards{
    width: 100%;
    display: flex;
    column-gap: 1rem;
    justify-content: space-between;
    align-items: start;
    margin-block-end: 5rem;
}

.card{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: .45rem;
}

.card-img{
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    position: relative;
}

.card-img img{
    width: 100%;
    object-fit: cover;
    height: auto;
    border-radius: .35rem;
}

.duration{
    position: absolute;
    right: .45rem;
    bottom: .75rem;
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: end;
    align-self: end;
    background-color: var(--black-color);
    color: var(--gray-color);
    padding: .25rem;
    border-radius: .25rem;
}

.playlist-contents{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: .5rem;
}

.playlist-heading h3{
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
}

.author{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author img{
    width: 100%;
}

.playlist-title{
    width: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.sponsored-post{
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: .5rem;
}

.sponsored-post h4{
    color: var(--gray-color-100);
}

.dot {
    height: 0.25rem;
    width: 0.25rem;
    background-color: var(--gray-color-100);
    border-radius: 50%;
}

.sponsored-buttons{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: .5rem;
}

.sponsored-buttons div{
    width: 50%;
    height: auto;
}

.btn-lg{
    width: 100%;
    border: 1px solid var(--grey-color-200);
    outline: none;
    padding: .5rem 1.5rem;
    border-radius: 55rem;
    background-color: transparent;
    cursor: pointer;
    color: var(--deepblue);
    font-weight: 600;
    font-size: 1rem;
}

.btn-apply{
    background-color: var(--lightblue);
    border: none;
}

.playlist-info{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: .15rem;
    justify-content: start;
}

.playlist-channel{
    width: fit-content;
    text-transform: capitalize;
    color: var(--gray-color-100);
    font-weight: 600;
    font-size: 1.15rem;
}

.playlist-views{
    width: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: .5rem;
}

.playlist-views h4, p{
    color: var(--gray-color-100);
    font-weight: 400;
}


/* Media Queries */
@media (width <= 480px){
    .header{
        padding: .75rem;
    }

    .sidebar-container{
        display: none;
    }

    .search-wrapper{
        display: none;
    }

    .content{
        flex-direction: column;
    }

    .playlist-container{
        width: 100%;
        height: 100%;
    }

    .filter-wrapper{
        width: 100%;
    }

    .playlist-cards{
        flex-direction: column;
        column-gap: 0;
        row-gap: 2rem;
    }

    .card{
        width: 100%;
    }
}


@media (width >= 481px) and (width <= 1200px){
    .header{
        padding: .75rem;
    }

    .sidebar-container{
        display: none;
    }

    .search-wrapper{
        display: none;
    }

    .content{
        flex-direction: column;
    }

    .button-containers{
        column-gap: .4rem;
        row-gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .btn{
        font-size: .65rem;
        font-weight: 300;
    }
    .playlist-container{
        width: 100%;
        height: 100%;
    }

    .filter-wrapper{
        width: 100%;
    }

    .playlist-cards{
        flex-direction: column;
        column-gap: 0;
        row-gap: 2rem;
    }

    .card{
        width: 100%;
    }
}